@model CurioExchange.ViewModels.UserPieceViewModel

@{
    ViewBag.Title = "Wanted & owned";
}

<h2>Wanted & owned</h2>

@Html.ActionLink("Wanted pieces", "WantedPieces")<br />
@Html.ActionLink("Owned pieces", "OwnedPieces") 