
@{
    ViewBag.Title = "Changelog";
}

<h1>Changelog</h1>
<hr />
<b>July 27 2015</b>
<ul>
    <li>Storage of the ID of owned pieces is now possible, this should help make trades easier. IDs are also visible on player profiles and the trades page. If you manually add multiple owned pieces they will all get the same ID, consider adding them one by one or using import instead. Unfortunately, as the database previously did not store this data, you will have to add or import your owned pieces again to populate the ID field, else it will simply show as blank.</li>
</ul>
<b>July 11 2015</b>
<ul>
    <li>Split up the wanted and owned pieces page into two separate pages to make life easier for players with long lists.</li>
    <li>Reworked the top menu to be a bit more compact.</li>
</ul>
<b>July 9 2015</b>
<ul>
    <li>Added a filter textbox at the top of the listboxes on the "Add wanted piece" and "Add owned piece" pages. Note that using this will clear your selections. The main use is to filter the list before you begin searching or selecting in it.</li>
</ul>
<b>June 17 2015</b>
<ul>
    <li>Trying another colour scheme as the previous one received negative feedback.</li>
    <li>Fixed an error in the import of partials that caused some sets to be mistakingly reported as missing.</li>
</ul>
<b>June 15 2015</b>
<ul>
    <li>New colour scheme and minor edits to the information on the home page.</li>
    <li>Added sets: Blue-black Dreadlocks</li>
</ul>
<b>June 8 2015</b>
<ul>
    <li>Implemented changelog</li>
    <li>Added sets: Iron Horns, Crystal Spires, Striped Antennae, Plum-Hued Tresses, Fiery Mane</li>
    <li><span style="text-decoration:line-through;">Added pieces: Rose Of Gems And Gold Second Gem Petal (Please <a href="~/Contact/">report</a> all other missing pieces from this set)</span></li>
    <li>Corrected sets: Chocolate Bottle, Onyx Gargoyle, Dove Mask</li>
    <li>Corrected pieces: Jewelled Lily Eighth Petal, Dark Diamond Soulless Diamond (Other pieces of this set may have an incorrect name, please <a href="~/Contact/">report</a> if so)</li>
</ul>

