
@{
    ViewBag.Title = "Changelog";
}

<h1>Changelog</h1>
<hr />
<b>June 8 2015</b>
<ul>
    <li>Implemented changelog</li>
    <li>Added sets: Iron Horns, Crystal Spires, Striped Antennae, Plum-Hued Tresses, Fiery Mane</li>
    <li>Added pieces: Rose Of Gems And Gold Second Gem Petal (Please <a href="~/Contact/">report</a> all other missing pieces from this set)</li>
    <li>Corrected sets: Chocolate Bottle, Onyx Gargoyle, Dove Mask</li>
    <li>Corrected pieces: Jewelled Lily Eighth Petal, Dark Diamond Soulless Diamond (Other pieces of this set may have an incorrect name, please <a href="~/Contact/">report</a> if so)</li>
</ul>

