@model ICollection<CurioExchange.Models.AspNetUserModel>

@{
    ViewBag.Title = "Players";
}

<h2>Players</h2>

<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(item.UserName, "Details", new { userId = item.Id })
            </td>
        </tr>
    }

</table>
